body{
	margin:0;
	font-family:Consolas,'Courier New',Arial,sans-serif;
	font-size:9pt;
	line-height:9pt;
	color:#000000; 
	background-color:blue;
	width='100%' border='0';
	}

.toparea {
	background-color: rgb(88, 236, 229); 
	color: rgb(44, 7, 7); 
	height:100px; 
	font-size:30px; 
	border-color:red;
	width:100%; border:0;
	}
#top{
	width='100%' border='0';
}
button {
	background-color: #b85c82; 
	border-color: #4cae4c; 
	color: white; font-weight: 
	bold;
	}
	
button:hover {
	background-color: gray; 
	border-color: #398439; 
	cursor:pointer;
	}


